{% extends 'base.html.twig' %}

{% block title %} {{ vehicule.nom }} {% endblock %}

{% block body %}
    <div class="row justify-content-center" style="font-family: 'Playfair Display', sans-serif;">
        <div class="col-12 col-lg-10 col-xl-12">
            <div class="card">
                <div class="card-header"
                     style="color: #28A5C5;
                        font-size: 4rem;
                        text-align: center;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        align-items: center;
                ">{{ vehicule.nom }}</div>
                <table class="table table-striped table-hover mb-0">
                    <thead>
                    <tr>
                        <th class="text-center text-uppercase">Numéro du coli :</th>
                        <th class="text-center text-uppercase">Nombre de colis :</th>
                        <th class="text-center text-uppercase">Laboratoire de chargement :</th>
                        <th class="text-center text-uppercase">Laboratoire de livraison :</th>
                        <th class="text-center text-uppercase">Action :</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for colis in colis %}
                        <tr>
                            <td class="text-center align-middle">{{ colis.number }}</td>
                            <td class="text-center align-middle">{{ colis.nombre }}</td>
                            <td class="text-center align-middle">{{ colis.loadinglab }}</td>
                            <td class="text-center align-middle">{{ colis.deliverylab }}</td>
                            <td class="text-center align-middle">
                                {% if is_granted('ROLE_USER') %}
                                    <a
                                        href="{{ path('box_update', {id: colis.id}) }}"
                                        class="btn btn-warning"
                                    ><i class="fas fa-edit"></i>
                                        Modifier le colis
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Votre camion est vide</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- PAGINATION -->
    <div class="d-flex justify-content-center">
        {% do colis.setPageRange(2) %}
        {{ knp_pagination_render(colis, 'base/pagination.html.twig') }}
    </div>
{% endblock %}
